<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <%= @piglatinizer.to_pig_latin(@user_text) %>

    <h1>Pig Latinizer</h1>
    <form method="POST" action="/piglatinize">
      User text: <input type="text" name="user_phrase">
      <input type="submit" name="submit">
    </form>
  </body>
</html>
